*/node_modules/*, 
m4u4/node_modules/, 
*/dist/*,  
*/build/*,  
*/coverage/*,  
*/.nyc_output/*,  
*/.vscode/*,  
*/.idea/*,  
*/.git/*,  
*/.DS_Store/*,  
*/.env/*,  
*/.eslintrc/*,  
*/.prettierrc/*,  
*/.stylelintrc/*,  
*/.babelrc/*,  
*/.gitignore/*,  
*/.npmignore/*,  
*/.travis.yml/*,  
*/.editorconfig/*,  
*/.yarn/*,  
*/.yarnrc/*,  
*/.yarn-integrity/*,  
*/.yarn-metadata/*,  
*/.yarn-tarball/*,  
*/.yarn-npm/*,  
*/.yarn-versions/*,  
*/.yarn-config/*,  
*/.yarn-lifecycle/*,  
*/.yarn-rc/*,  
*/.yarn-error/*,  
*/.yarn-licenses/*,  
*/.yarn-progress/*,  
*/.yarn-reify/*,  
*/.yarn-log*'