@charset "utf-8";
/* CSS Document */

body {
	color: #000;
	background: #332F29;
	font-size:100%;
}
#contenedor {
	width: 100%;
	background: #8FA68E;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
	display: inline-flex;
	flex-direction: column;
}
nav {
	background: #CC3910;
	float: left;
	width: 100%;
}
ul {
	list-style-type:none;
}
a {
	color:#F1F2C0;
	text-decoration: none;
}
section {
	background: #F1F2C0;
	float: left;
	margin: 0;
	width: 100%;
}
aside {
	background: #CCC59E;
	float: right;
	width: 100%;
}
