<div class="container" style="margin: 50px auto">
    <div class="row">
        <div class="col">
            <p class="text-right">Hola {{usuario}} !<a href="/admin/login/logout">Cerrar sesión <i class="fas fa-sign-out-alt"></i></a></p>
        </div>
    </div>
</div>